.main_root_div .layout_css {
  /* position: relative;
  height: 100vh; */
}

main {
  padding: 26px;
  height: 100%;
  background: linear-gradient(90deg, #a1c199 0%, #ff0 50%, #919ad7 100%, transparent);
  /* max-height: 620px; */
}